* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}

body {
    background-color: #F8F5EC;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #DCD6CA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__logo-link {
    color: #555047;
    text-decoration: none;
    font-size: 2rem;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 15px;
}

.header__logo-link:hover {
    background-color: #D6C5B3;
    color: #fff;
    border-radius: 5px;
}

.header__logo {
    color: #555047;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
}

.header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header__nav a {
    color: #53595c;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.header__nav a:hover {
    background-color: #D6C5B3;
    color: #fff;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E7DFD2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #9e7242;
    margin-bottom: 10px;
    font-size: 1.8rem;
    text-align: center;
}

h2, h3 {
    text-align: center;
    margin-bottom: 15px;
}

section p {
    font-size: 1rem;
    color: #333;
}

.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.catalog-grid article {
    background-color: #F8F5EC;
    border: 1px solid #D6C5B3;
    padding: 15px;
    border-radius: 5px;
    width: calc(25% - 20px);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.catalog-grid article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.catalog-grid article p {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

pre {
    background-color: #F8F5EC;
    padding: 10px;
    border: 1px solid #CDD5C6;
    overflow-x: auto;
    border-radius: 5px;
}

code {
    font-family: monospace;
    color: #555047;
    font-size: 0.9rem;
}

#contacts p {
    color: #333;
    margin: 5px 0;
}

#contacts del {
    color: #D6C5B3;
    text-decoration: line-through;
}

#contacts ins {
    color: #9e7242;
    text-decoration: none;
    font-weight: bold;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

form input[type="email"] {
    padding: 10px;
    border: 1px solid #CDD5C6;
    border-radius: 5px;
    width: 80%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

form button {
    background-color: #c5ac92;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #D6C5B3;
}

footer {
    background-color: #DCD6CA;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    color: #333;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #D6C5B3;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #D6C5B3;
}

th {
    background-color: #D6C5B3;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #E7DFD2;
}

tr:nth-child(odd) {
    background-color: #F8F5EC;
}


@media screen and (max-width: 768px) {
    main#catalog .catalog-grid article {
        width: calc(50% - 20px);
    }

    .header__nav ul {
        flex-direction: column;
        align-items: center;
    }


    .header__nav li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    main#catalog .catalog-grid article {
        width: 100%;
    }

    footer {
        font-size: 0.8rem;
    }

    form input[type="email"] {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .advertisement {
        display: none;
    }
}

#preorder {
    background-color: #E7DFD2;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

#preorderForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.order-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-card {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.order-card:hover {
    transform: scale(1.02);
}

.order-content p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.delete-button {
    background-color: #E57373;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #EF5350;
}
